@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
.contain {
  width: 100%;
  height: 100vh;
  background-image: url("../../assets/fondo.png");
  background-size: 100%;
  font-family: "Bebas Neue", sans-serif;
}



.CardPropias {
  display:flex;
  flex-direction: row;
  position:absolute;
  gap: 10px;
  top: 75%;
  left: 25%;
}

.CardPropias:hover {
  cursor: pointer;
}

.infoPropia {
  width: 15%;
  height: 15%;
  padding-inline: 1%;
  position: absolute;
  border: solid black 3px;
  border-radius: 10px;
  top: 75%;
  background-color: orange;
  left: 2%;

}

.infoPropia p{
  margin:0
}

.infoPartida {
  width: 15%;
  height: 20%;
  background-color: orange;
  position: absolute;
  border: solid black 3px;
  border-radius: 10px;
  top: 3%;
  left: 2%;
  padding-inline: 1%;
  
}
.infoPartida p {
  margin: 0;
}
.jugadorestres {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 0%;
}

.jugadoresdos {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 30%;
}

.jugador2 {
  margin-top: 20%;
  width: 15%;
  height: 15%;
}
.jugador3 {
  width: 15%;
  height: 15%;
}
.jugador4 {
  margin-top: 20%;
  width: 15%;
  height: 15%;
}

.CardApostada {
  position: absolute;
  left: 50%;
  bottom: 20%;
}
